{{ define "main" }}
  <div class="container pt-5">

    <div class="post">
      <header class="mb-4">
        <h4 class="text-uppercase">{{ .Title }}</h4>
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
		{{ $TimeHuman := .Date | time.Format ":time_short" }}
        <div aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item small">
              {{ if .Draft }}
              <span class="draft-label">DRAFT</span> &#183;
              {{ end }}
              Posted - <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
			  - <time datetime="{{ $dateMachine }}">{{ $TimeHuman }}</time>
            </li>
            {{ $lastModMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ if and (isset .Params "lastmod") (ne $lastModMachine $dateMachine) }}
            {{ $lastModDateHuman := .Lastmod | time.Format ":date_long" }}
			{{ $lastModTimeHuman := .Lastmod | time.Format ":time_short" }}
            <li class="breadcrumb-item small">
              Updated - <time datetime="{{ $lastModMachine }}">{{ $lastModDateHuman }}</time>
			  - <time datetime="{{ $dateMachine }}">{{ $lastModTimeHuman }}</time>
            </li>
            {{ end }}
          </ol>
        </div>
      </header>
      {{ if .Params.toc }}
      <div class="toc small">
        <p class="toc-title fw-semibold">
          Table of Contents:
        </p>
        {{ .TableOfContents }}
      </div>
      {{ end }}
      <article>
        {{ .Content }}
      </article>
	  <div class="mt-5 claps-container" data-page="{{ .RelPermalink }}">
        <button class="claps-btn" id="claps-btn">👏</button>
        <span class="claps-count" id="claps-count">0</span>
      </div>
	  {{ $series := site.Data.taxonomy.series }}
	  {{ $tpublishers := site.Data.taxonomy.tpublishers }}
	  {{ $jpublishers := site.Data.taxonomy.jpublishers }}
	  {{ $kpublishers := site.Data.taxonomy.jpublishers }}

      {{ $authorTag := "" }}
      {{ range .GetTerms "tags" }}
        {{ $tag := .Page.Title }}
        {{ if and
          (not (in $series $tag))
          (not (in $tpublishers $tag))
          (not (in $jpublishers $tag))
		  (not (in $kpublishers $tag))
          (ne $tag "電子書")
          (eq $authorTag "")
        }}
          {{ $authorTag = $tag }}
        {{ end }}
      {{ end }}

      {{ if $authorTag }}
        {{ $currentPermalink := .Permalink }}
        {{ $related := slice }}
        {{ range $.Site.Taxonomies.tags.Get $authorTag }}
          {{ if and (ne .Page.Permalink $currentPermalink) .Page.Params.image }}
            {{ $related = $related | append .Page }}
          {{ end }}
        {{ end }}
        {{ $related = $related | uniq }}

        {{ if $related }}
        <div class="mt-5" data-pagefind-ignore>
          <p class="small">同作者其他作品</p>
          <div class="related-scroll">
            {{ range $related }}
            <a href="{{ .RelPermalink }}" class="related-item text-decoration-none">
              <img src="{{ .Params.image }}" alt="{{ .Params.booktitle }}">
              <p class="small mt-1 mb-0 text-center">{{ .Params.booktitle }}</p>
            </a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      {{ end }}
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      <div data-pagefind-ignore>{{ partial "post-pagination.html" . }}</div>
	  <div class="mt-5"><a href="#top" class="text-decoration-none">📌回到頁面最上方</a></div>
      <!--<div class="mt-5"  id="cusdis_thread"
        data-host="https://cusdis.com"
        data-app-id="94a3f6f2-c51f-4e1e-8653-7f2cd5174575"
        data-page-id="{{ .RelPermalink }}"
        data-page-url="{{ .Permalink }}"
        data-page-title="{{ .Title }}"
		data-pagefind-ignore
      ></div>
      <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
      <style>
        #cusdis_thread iframe {
          width: 100%;
          border: none;
          display: block;
        }
      </style>
      <script>
        var cusdisInterval = setInterval(function() {
          var iframe = document.querySelector('#cusdis_thread iframe');
          if (iframe) {
            try {
              var height = iframe.contentWindow.document.body.scrollHeight;
              iframe.style.height = height + 'px';
            } catch(e) {}
          }
        }, 500);
      </script> -->
    </div>
  </div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
{{ end }}
